.fs1 {
    font-size: 0.5em, 
}

.fw1 {
    font-weight: bold;
}

.fs2 {
    font-style: italic;
}

.ff1 {
    font-family: 'Courier New', Courier, monospace;
}

.c1 {
    color: rgba(63, 61, 172, 0.7);
}

.td1 a {
    text-decoration: none;
}

.ts1 {
    /*          가로 세로 번짐 색상 */
    text-shadow: 2px 2px 3px gray;
}

.ta1-left {
    text-align: left; /* start = left */
}

.ta1-right {
    text-align: right; /* end = right */
}

.ta1-center {
    text-align: center;
}

.ta1-justify {
    text-align: justify;
}

.lh1 {
    line-height: 20px;
}

.ls1 {
    letter-spacing: 5px;
}

.ws1 {
    word-spacing: 30px;
}

.ws2 {
    width: 300px;
}

.ws2 > .normal {
    white-space: normal;
}

.ws2 > .nowrap {
    white-space: nowrap;
}

.ws2 > .pre {
    white-space: pre;
}

.ws2 > .pre-line {
    white-space: pre-line;
}

.ws2 > .pre-wrap {
    white-space: pre-wrap;
}

.to1 {
    width: 240px;
}

.to1 > .clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.to1 > .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}